.main{
    color:darkmagenta;
    background-color: cadetblue;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif
}
.copy{
    color:indigo;
    background-color:hotpink;
    font-size: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
#clone{
    color:honeydew;
    background-color:blue;
    font-size: 30px;
    font-family:cursive
}