html{
    scroll-behavior: smooth;
}
.custom-navbar{
    background: linear-gradient(90deg, #4facfe, #00c6ff);
    padding: 12px 0;
}
.navbar-brand{
    color: white !important;
    font: 1.6rem;
}
.nav-link{
    color: white !important;
    font-weight: 600;
    margin-left: 12px;
    transition: 0.3x;
}
.nav-link-hover{
    color: #ffe66d !important;
    transform: translateY(-2px);
}
.nav-link.active{
    color: #ffe66d !important;
}
.btn-warning{
    font-weight: bold;
    border-radius: 30px;
    transition: 3s;
}
.btn-warning-hover{
    transform: scale(1.08);
}
.btn-outline-light{
    border-radius: 50%;
    width: 42px;
    height: 42px;
}
.custom-navbar{
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.dark-mode{
    background: #1f2937;
    color: white;
}
.dark-mode .custom-navbar{
    background:linear-gradient(90deg,#222,#000)
}
/*Mobile*/
@media(max-width:991px){
    .nav-link{
        margin: 10px 0;
        text-align: center;
    }
    .btn-warning{
        width: 100%;
    }
    .btn-outline-light{
        width: 100%;
        border-radius: 10%;
    }
}
/*Sliders CSS*/
.slider-img{
    height: 90vh;
    object-fit: cover;
    filter: brightness(55%);
}
.carousel-caption h1{
    font-size: 60px;
    font-weight: bold;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    animation: slideDown 1s;
}
.carousel-caption p{
    font-size: 24px;
    margin: 20px 0;
    animation: slideUp 1.2s;
}
.carousel-caption .btn{
    border-radius: 40px;
    transition: 4s;
}
.carousel-caption .btn:hover{
    transform: scale(1.1);
}
.carousel-control-prev-icon,

.carousel-control-next-icon{

background-color:rgba(0,0,0,.5);

padding:25px;

border-radius:50%;

}

/* Indicators */

.carousel-indicators button{

width:14px;

height:14px;

border-radius:50%;

}

/* Responsive */

@media(max-width:992px){

.slider-img{

height:70vh;

}
.carousel-caption{

bottom:18%;

}

.carousel-caption h1{

font-size:38px;

}

.carousel-caption p{

font-size:18px;

}

}

@media(max-width:576px){

.slider-img{

height:60vh;

}
.carousel-caption{

bottom:12%;

}

.carousel-caption h1{

font-size:28px;

}

.carousel-caption p{

font-size:16px;

}

.carousel-caption .btn{

font-size:15px;

padding:10px 20px;

}

}
@keyframes slideDown{

from{

transform:translateY(-40px);

opacity:0;

}

to{

transform:translateY(0);

opacity:1;

}

}@keyframes slideUp{

from{

transform:translateY(40px);

opacity:0;

}

to{

transform:translateY(0);

opacity:1;

}

}

.course-card{
    transition: 4s;
    border: none;
    border-radius: 15px;
    overflow: hidden;
}

.course-card img{
    height: 220px;
    object-fit: cover;
}

.course-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px rgba(0,0,0,.25);
}

.course-card img:hover{
    transform: scale(1.08);
}

.course-card img{
    transition: 5s;
}

section{
    padding: 80px 0;
}

.btn{
    border-radius: 30px;
}

h2{
    font-weight: bold;
}